{% comment %} Apparently increment does not work here… {% endcomment %}
{% if figureCount == null %}
    {% assign figureCount = 1 %}
{% else %}
	{% assign figureCount = figureCount | plus: 1 %}
{% endif %}
<figure class="thumbnail">
	{% if include.full %}
	<a href="{{ site.baseurl }}/images/{{ include.full }}" title="Click to open image in full size">
	{% endif %}
		<img src="{{ site.baseurl }}/images/{{ include.src }}" alt="{{ include.alt }}" class="img-responsive">
	{% if include.full %}
	</a>
	{% endif %}
	<figcaption class="caption"><a href="#fig-ref{{ figureCount }}"><b>Fig. {{ figureCount }}:</b></a> {{ include.caption }}</figcaption>
</figure>
