{% include page-header.html title=page.feature.name type="feature" status=page.feature.status discussion=page.feature.discussion %}

<div class="row">
    <div class="col-md-9">
        {{ description | markdownify }}

        {% if subfeatures %}

        <h2>Subfeatures</h2>

        {{ subfeatures | markdownify }}

        {% endif %}

        {% if ui %}

        <h2>UI / UX</h2>

        {{ ui | markdownify }}

        {% endif %}

        {% if markup %}

        <h2>HTML Markup</h2>

        {{ markup | markdownify }}

        {% endif %}

        {% if misconceptions %}

        <h2>Common Misconceptions</h2>

        {{ misconceptions | markdownify }}

        {% endif %}

        {% if implementation %}

        <h2>Implementation Concerns</h2>

        {{ implementation | markdownify }}

        {% endif %}

        {% if notes %}

        <h2>Notes</h2>

        {{ notes | markdownify }}

        {% endif %}

        {% if figures %}

        <h2>Sources of Figures</h2>

        {{ figures | markdownify }}

        {% endif %}

        {% if references %}

        <h2>References</h2>

        {{ references | markdownify }}

        {% endif %}
    </div>
    <div class="col-md-3">
        {% include type-links.html type="Features" items=site.features %}
    </div>
</div>
