<div class="page-header">
    <h1>{{ page.feature.name }} <small> // feature {{ page.feature.status | downcase }}</small></h1>
</div>

<div class="row">
    <div class="col-md-10">
        {{ description | markdownify }}

        {% if ui %}

        <h2>UI / UX</h2>

        {{ ui | markdownify }}

        {% endif %}

        {% if markup %}

        <h2>HTML Markup</h2>

        {{ markup | markdownify }}

        {% endif %}

        {% if notes %}

        <h2>Notes</h2>

        {{ notes | markdownify }}

        {% endif %}
    </div>
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Features</h3>
            </div>
            <ul class="list-group">
                {% for featurePage in site.collections.features.docs %}
                    {% assign className = 'list-group-item' %}
                    {% if featurePage.feature.name == page.feature.name %}
                        {% assign className = 'list-group-item active' %}
                    {% endif %}
                    <a href="{{ site.baseurl }}{{ featurePage.url }}" class="{{ className }}">{{ featurePage.feature.name }}</a>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
