{% include page-header.html title=page.usability.title type="usability" status=page.usability.status discussion=page.usability.discussion %}

<div class="row">
    <div class="col-md-9">
        <h2>Description</h2>

        {{ description | markdownify }}

        {% if expectations %}

        <h2>User Expectations and Popular Behavior</h2>

        {{ expectations | markdownify }}

        {% endif %}

        {{ recommendations | markdownify }}

        {% if notes %}

        <h2>Notes</h2>

        {{ notes | markdownify }}

        {% endif %}

        {% if figures %}

        <h2>Sources of Figures</h2>

        {{ figures | markdownify }}

        {% endif %}

        {% if references %}

        <h2>References</h2>

        {{ references | markdownify }}

        {% endif %}
    </div>
    <div class="col-md-3">
        {% include type-links.html type="Usability" items=site.usability %}
    </div>
</div>
