{% include page-header.html title=page.case.title type="use case" status=page.case.status discussion=page.case.discussion %}

<div class="row">
    <div class="col-md-9">
        {% if description %}
        <h2>Description</h2>

        {{ description | markdownify }}

        {% endif %}

        <h2>Functionality</h2>

        {% if features %}

        <h3>Features</h3>

        {{ features | markdownify }}

        {% endif %}

        {% if usability %}

        <h3>Usability Features</h3>

        {{ usability | markdownify }}

        {% endif %}

        {% if notes %}

        <h2>Notes</h2>

        {{ notes | markdownify }}

        {% endif %}

        {% if figures %}

        <h2>Sources of Figures</h2>

        {{ figures | markdownify }}

        {% endif %}

        {% if references %}

        <h2>References</h2>

        {{ references | markdownify }}

        {% endif %}
    </div>
    <div class="col-md-3">
        {% include type-links.html type="Use Cases" items=site.use-cases %}
    </div>
</div>
