<div class="page-header">
    <h1>{{ page.case.title }} 
        <span class="small"> // use case {{ page.case.status | downcase }} 
            <a href="{{ page.case.discussion }}" title="Public discussion">
                <i class="glyphicon glyphicon-bullhorn" aria-hidden="true"></i>
                <span class="sr-only">Public discussion</span>
            </a>
        </span>
    </h1>
</div>

<div class="row">
    <div class="col-md-10">
        {% if description %}

        {{ description | markdownify }}

        {% endif %}

        <h2>Functionality</h2>
        
        {% if features %}

        <h3>Features</h3>

        {{ features | markdownify }}

        {% endif %}
        
        {% if usability %}

        <h3>Usability Features</h3>

        {{ usability | markdownify }}

        {% endif %}
        
        {% if notes %}

        <h2>Notes</h2>

        {{ notes | markdownify }}

        {% endif %}

        {% if images %}

        <h2>Sources of images</h2>

        {{ images | markdownify }}

        {% endif %}

        {% if references %}

        <h2>References</h2>

        {{ references | markdownify }}

        {% endif %}
    </div>
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Use Cases</h3>
            </div>
            <div class="list-group">
                {% for casePage in site.collections["use-cases"].docs %}
                    {% assign className = 'list-group-item' %}
                    {% if casePage.case.title == page.case.title %}
                        {% assign className = 'list-group-item active' %}
                    {% endif %}
                    <a href="{{ site.baseurl }}{{ casePage.url }}" class="{{ className }}">{{ casePage.case.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
