<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
    {% if page.title %}
        {{ page.title }}
    {% else %}
        {% if page.feature.name %}
            {{ page.feature.name }}
        {% endif %}
        {% if page.case.title %}
            {{ page.case.title }}
        {% endif %}
        {% if page.usability.title %}
            {{ page.usability.title }}
        {% endif %}
    {% endif %}
    | {{ site.name }}</title>
    <meta name="description" content="{{ site.description }}">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/custom.css">
</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ site.baseurl }}/">Editor Recommendations (Home)</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Features <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for page in site.collections.features.docs %}
                        <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.feature.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Use Cases <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for page in site.collections["use-cases"].docs %}
                        <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.case.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usability <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for page in site.collections.usability.docs %}
                        <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.usability.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="{{ site.baseurl }}/general-policies">General Policies</a></li>
                <li><a href="{{ site.baseurl }}/about">About</a></li>
            </ul>
            <p class="navbar-text navbar-right"><a href="https://github.com/fredck/test-erfc" class="navbar-link">Source on GitHub</a></p>
        </div><!--/.nav-collapse -->
    </div>
</nav>

{% if page.jumbotron %}
    {% include home-jumbotron.html %}
{% endif %}

<div class="container">

    {{ content }}

</div>

<footer class="footer">
    <div class="container">
        <p>Copyright © 2015-{{ site.time | date: '%Y' }} <a href="http://cksource.com">CKSource Frederico Knabben</a>. Licensed under the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</p>
    </div>
</footer>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</body>
</html>
