.navbar:not(.navbar-fixed-top){
  margin-bottom: 0;
}
body {
  line-height: 1.8;
}

body .navbar *,
body footer *
{
  /* Reset line-height for navbar and footer */
  line-height: 1.42857143;
}

/* Sticky footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
body > .container {
  /* Push footer 20px from content */
  margin-bottom: 80px;
}
.footer {
  background: #222;
  color: #9d9d9d;

  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
.footer p {
  line-height: 60px;
  margin: 0;
}
.footer a {
  color: #fff;
}